/* title */
h1
{
    text-align: center;
    color: black;
    
}

/* ready to begin ? */
h3
{
    text-align: center;
    margin-top: 100px;
    font-size: 30px;
}

/* rules */
p
{
    font-size: 20px;
}

#startButton
{
    display: block;
    cursor: pointer;
    padding: 10px;
    margin: auto;
    background-color: wheat;
    font-size: 25px;
}

#startButton:hover
{
    background-color: aquamarine
}

#backButton
{
    display: block;
    cursor: pointer;
    padding: 10px;
    background-color: wheat;
    font-size: 10px;
    position: absolute;
    top: 10px;
    right: 10px;
}

#backButton:hover
{
    background-color: aquamarine
}

#options
{
    display: flex;
    gap: 20px;
}

.option
{
    display: flex;
    gap: 20px;
    background-color: wheat;
    cursor: pointer;
    font-size: 25px;
}

.option:hover
{
    background-color: aquamarine;
}


body
{
    background-color: wheat;
}

#gameScreen
{
    display: none;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
}