h1
{
    text-align: center;
    color: black;
    
}


h3
{
    text-align: center;
    margin-top: 100px;
    font-size: 30px;
}

p
{
    font-size: 20px;
}

#startButton
{
    display: block;
    cursor: pointer;
    padding: 10px;
    margin: auto;
    background-color: wheat;
    font-size: 25px;
}

#startButton:hover
{
    background-color: aquamarine
}

body
{
    background-color: wheat;
}

#gameScreen
{
    display: none;
}